---
layout: layout.liquid
title: 11ty Boilerplate
---

<main x-data="nameGenerator()">
  <h1 x-text="currentName"></h1>

  <button type="button" @click="generate()">
    Generate Random Name
  </button>
</main>
