<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" />

<main x-data="nameGenerator()">
  <h2 x-text="currentName"></h2>

  <button type="button" @click="generate()">
    Generate Random Name
  </button>
</main>
